{% extends 'base.html' %}
{% block titleBlcok %}
	404错误！
{% endblock %}

{% block content00Block %}

{% endblock %}

{% block content01Block %}
	<div class="panel">
		<div class="text-center">
			<h1>
				404错误！很抱歉，您要找的页面不存在
			</h1>
			<div>
				<div class="float-left"><img src="/static/images/404/left.gif" alt=""/></div>
				<div class="float-right"><img src="/static/images/404/right.png" width="260" class="hidden-xs" alt=""/></div>
			</div>
			<div class="padding-big"><a href="{% url 'blog:index' %}" class="btn btn-primary">返回首页</a>
			</div>
		</div>
	</div>
	</div>
{% endblock %}

