{% extends 'base.html' %}
{% block titleBlcok %}
	归档
{% endblock %}

{% block contentBlock %}
	<div id="focusslide" class="carousel slide" data-ride="carousel">

	</div>
	<div class="title">
		<h3>归档</h3>
		<div class="more">
			{% for tag in tags %}
				<a href="/article/{{ tag.name }}" tag="{{ tag.name }}">{{ tag.name }}</a>
			{% endfor %}
		</div>
	</div>

	<div class="lists">
		{% for year,month_list in year_month.items %}
			<div class="div0">
				<h1>{{ year }} 年</h1>
				{% if forloop.first %}
					<ul style="display: block;">
				{% else %}
					<ul style="display: none;">
				{% endif %}
				{% for month in month_list %}
					<div class="div01">
						<h3>{{ month }}月</h3>
						{% for article in articles %}
							{% if article.year == year and article.month == month %}
								<li style="display: block;"><a
										href="/article/{{ article.id }}">{{ article.title }}</a></li>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}

				</ul>
			</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}


{% block jsBlock %}
	<script src="/static/js/test.js"></script>
{% endblock %}