{% extends 'base.html' %}
{% block titleBlcok %}
	归档
{% endblock %}

{% block content00Block %}
	<div id="focusslide" class="carousel slide" data-ride="carousel">

	</div>
	<div class="title">
	<h3>归档</h3>
{% endblock %}
{% block content01Block %}
	</div>

	<div class="lists">
		{% for year,month_list in year_month.items %}
			<div class="div0">
				<a href="javascript:;">{{ year }}年</a>
				{% if forloop.first %}
					<ul style="display: block;">
				{% else %}
					<ul style="display: none;">
				{% endif %}
				{% for month in month_list %}
					<div class="div01">
						<a href="javascript:;">{{ month }}月</a>
						{% for article in articles %}
							{% if article.year == year and article.month == month %}
								<li style="display: block;"><a
										href="/article/{{ article.id }}">{{ article.day }}日&nbsp;&nbsp;&nbsp;{{ article.title }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}

				</ul>
			</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}


{% block jsBlock %}
	<script src="/static/js/other.js"></script>
{% endblock %}