{% extends 'base.html' %}
{% block titleBlcok %}
	{% if article %}
		{{ article.title }}
	{% else %}
		Blog
	{% endif %}
{% endblock %}

{% block content00Block %}
	<header class="article-header">
		<h1 class="article-title"><a href="{% url 'blog:article' article.id %}">{{ article.title }}</a></h1>
		<div class="article-meta"> <span class="item article-meta-time">
<time class="time" data-toggle="tooltip" data-placement="bottom" title="时间：{{ article.created_time }}"><i
		class="glyphicon glyphicon-time"></i> {{ article.created_time }}</time>
</span> <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom"
			  title="作者：{{ article.author }}"><i
				class="glyphicon glyphicon-globe"></i> {{ article.author }}</span> <span
				class="item article-meta-category" data-toggle="tooltip" data-placement="bottom"
				title="分类：{{ article.category }}"><i class="glyphicon glyphicon-list"></i> <a href="#"
																							  title="">{{ article.category }}</a></span>
			<span
					class="item article-meta-views" data-toggle="tooltip" data-placement="bottom"
					title="浏览量：{{ article.views }}"><i
					class="glyphicon glyphicon-eye-open"></i> 共{{ article.views }}人围观</span> <span
					class="item article-meta-comment"
					data-toggle="tooltip"
					data-placement="bottom"
					title="评论：{{ article.comment_set.count }}"><i
					class="glyphicon glyphicon-comment"></i> {{ article.comment_set.count }}评论</span></div>
	</header>
	<article class="article-content">
		<p>
			{#			<img data-original="{{ article.image_url }}" src="{{ article.image_url }}" alt=""/>#}
		</p>
		{{ article.body | safe }}
	</article>
	<div class="article-tags">标签：
		{% for tag in article.tags.all %}
			<a href="{% url 'blog:type' 'tag' tag.id %}" rel="tag">
				{{ tag }}
			</a>
		{% endfor %}
	</div>
	<div class="title" id="comment">
		<h3>发表评论</h3>
	</div>
	<div id="respond">
		<form action="" method="post" id="comment-form">
			{% csrf_token %}
			<div class="comment">
				<div class="comment-box">
<textarea placeholder="欢迎发表评论" name="comment" id="comment-textarea" cols="100%" rows="3"
		  tabindex="1" class="textarea"></textarea>
					<div class="comment-ctrl">
						<div class="comment-prompt"><i class="fa fa-spin fa-circle-o-notch"></i> <span
								class="comment-prompt-text"></span></div>
						<input type="hidden" name="article_id" value="{{ article.id }}" class="articleid"/>
						<button type="button" name="comment-submit" id="comment-submit">评论
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="postcomments">
		<ol class="commentlist">

			{% for comment in comments %}
				<li class="comment-content">
					<p style="float: right;"><a href="javascript:;" style="text-decoration:none;"
												class="switch">回复</a> {{ comment.floor }}楼
					</p>
					<div class="comment-avatar"><img class="avatar" src="{{ comment.user.icon_url }}" alt=""/></div>
					<div class="comment-main">
						<p><span class="address">{{ comment.user.username }}</span>
							<span>
								{#如果是评论-评论#}
								{% if comment.parent %}
									回复: <span class="address">{{ comment.parent.user.username }}</span>
								{% endif %}
							</span>
							<span class="time">{{ comment.created_time }}</span><br/>{{ comment.content }}
						</p>
						<form class="innerhidden">
							<div id="div00">
								<textarea class="textarea"></textarea>
								{#								<input type="hidden" name="article_id" value=""#}
								{#									   class="articleid"/>#}
								<div id="div01" comment_id="{{ comment.id }}" article_id="{{ article.id }}">
									<input type="button" value="确定" class="reply"/>
								</div>
							</div>
						</form>

					</div>

				</li>

			{% endfor %}
			<div class='pagination'>
				{% if comments %}
					{% if comments.number|add:-3 > 0 %}
						<a href='?page=first'><span>首页</span></a>
					{% endif %}
					{% if comments.has_previous %}
						<a href='?page={{ comments.previous_page_number }}'><span>上一页</span></a>
					{% endif %}
					{% for page in comments.paginator.page_range_ext %}
						{% if page == comments.number %}
							<a title='当前页:{{ page }}'
							   style="background: #3399CC;color: white"><span>{{ page }}</span></a>
						{% else %}
							<a href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
						{% endif %}
					{% endfor %}
					{% if comments.has_next %}
						<a href='?page={{ comments.next_page_number }}'><span>下一页</span></a>
					{% endif %}
					{% if comments.number|add:3 < comments.paginator.num_pages %}
						<a href='?page={{ comments.paginator.num_pages|add:999 }}'><span>末页</span></a>
					{% endif %}
				{% endif %}
			</div>
		</ol>
	</div>
	</div>
{% endblock %}

{% block jsBlock %}
	<script rel="javascript" type="text/javascript" src="/static/js/other.js"></script>
{% endblock %}

{% block tagBlock %}
{% endblock %}