{% extends 'base.html' %}
{% block titleBlcok %}
	注册
{% endblock %}

{% block content00Block %}
	<div id="focusslide" class="carousel slide" data-ride="carousel"></div>
	<div class="title">
{% endblock %}
<h3>注册</h3>
<div class="more">
	{% for tag in tags %}
		<a href="/article/{{ tag.name }}" tag="{{ tag.name }}">{{ tag.name }}</a>
	{% endfor %}
</div>
{% block content01Block %}
	</div>
	<div id="login">
		<form action="/register" method="post">
			{% csrf_token %}
			<div class="modal-header">
				<h4 class="modal-title" id="loginModalLabel">欢迎注册!</h4>
			</div>
			{% if message %}
				<div class="alert alert-warning">{{ message }}</div>
			{% endif %}
			<div class="modal-body">
				<div class="form-group">
					<label>手机号</label>
					<input type="text" name="mobile" class="form-control" id="mobile" placeholder="请输入手机号">
				</div>
				<div class="form-group">
					<label>用户名</label>
					<input type="text" name="username" class="form-control" placeholder="请输入用户名">
				</div>
				<div class="form-group">
					<label>密码</label>
					<input type="password" name="password" class="form-control" placeholder="请输入密码">
				</div>
				<div class="form-group">
					<label>再次输入密码</label>
					<input type="password" name="password2" class="form-control" placeholder="再次输入密码">
				</div>
				<div class="form-group">
					<label style="display: block;">短信验证码 </label>
					<input type="text" name="sms_code" class="form-control" placeholder="短信验证码"
						   style="width: 70% ;display: inline;">
					<a href="javascript:;" id="sms">点击发送</a>
				</div>
			</div>
			<div class="modal-footer">
				{#				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
				<button type="submit" class="btn btn-primary">注册</button>
			</div>
		</form>
	</div>

	</div>
{% endblock %}


{% block jsBlock %}
	<script src="/static/js/test.js"></script>
{% endblock %}