{% extends 'base.html' %}
{% block titleBlcok %}
	注册
{% endblock %}

{% block content00Block %}
	<div id="focusslide" class="carousel slide" data-ride="carousel"></div>
	<div class="title">
	<h3>注册</h3>
{% endblock %}
{% block content01Block %}
	</div>
	<div id="login">
		<form action="" method="post">
			{% csrf_token %}
			{% if message %}
				<div class="alert alert-warning">{{ message }}</div>
			{% endif %}
			<div class="modal-header">
				<h2 class="text-center">欢迎注册!</h2>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>手机号</label>
					<input type="text" name="mobile" class="form-control" id="re_mobile" placeholder="请输入手机号">
					<div id="login-password-err00" class="error_tip">手机号不能为空</div>
				</div>
				<div class="form-group">
					<label>用户名</label>
					<input type="text" name="username" class="form-control" id="re_username" placeholder="请输入用户名">
					<div id="login-password-err01" class="error_tip">用户名不能为空</div>
				</div>
				<div class="form-group">
					<label>密码</label>
					<input type="password" class="form-control" placeholder="请输入密码" id="re_password"
						   name="new-password" autocomplete="new-password">
					<div id="login-password-err02" class="error_tip">密码不能为空</div>
				</div>
				<div class="form-group">
					<label>再次输入密码</label>
					<input type="password" class="form-control" placeholder="再次输入密码" id="re_password2"
						   name="password2" autocomplete="new-password">
					<div id="login-password-err03" class="error_tip">密码不能为空</div>
				</div>
				<div class="form-group">
					<label style="display: block;">短信验证码 </label>
					<input type="text" name="sms_code" class="form-control" placeholder="短信验证码" id="re_code"
						   style="width: 70% ;display: inline;">
					<a href="javascript:;" id="sms" onclick="sendSMSCode()">点击发送</a>
					<div id="login-password-err04" class="error_tip">验证码不能为空</div>
				</div>
			</div>
			<div class="modal-footer">
				{#				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
				<button type="button" class="btn btn-primary" id="re_submit">注册</button>
			</div>
		</form>
	</div>

	</div>
{% endblock %}


{% block jsBlock %}
	<script src="/static/js/other.js"></script>
{% endblock %}