{% extends 'base.html' %}
{% block titleBlcok %}
	注册
{% endblock %}

{% block contentBlock %}
	<div id="focusslide" class="carousel slide" data-ride="carousel"></div>
	<div class="title">
		<h3>注册</h3>
		<div class="more">
			{% for tag in tags %}
				<a href="/article/{{ tag.name }}" tag="{{ tag.name }}">{{ tag.name }}</a>
			{% endfor %}
		</div>
	</div>
	<div id="login">
		<form action="/login" method="post">
			<div class="modal-header">
				<h4 class="modal-title" id="loginModalLabel">欢迎登陆!</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="loginModalUserNmae">手机号</label>
					<input type="text" class="form-control" id="loginModalUserNmae" placeholder="请输入手机号"
						   autofocus
						   maxlength="15" autocomplete="off" required>
				</div>
				<div class="form-group">
					<label for="loginModalUserNmae">邮箱</label>
					<input type="password" class="form-control" id="loginModalUserPwd" placeholder="输入邮箱"
						   maxlength="18" autocomplete="off" required>
				</div>
				<div class="form-group">
					<label for="loginModalUserPwd">密码</label>
					<input type="password" class="form-control" id="loginModalUserPwd" placeholder="请输入密码"
						   maxlength="18" autocomplete="off" required>
				</div>
				<div class="form-group">
					<label for="loginModalUserPwd">再次输入密码</label>
					<input type="password" class="form-control" id="loginModalUserPwd" placeholder="再次输入密码"
						   maxlength="18" autocomplete="off" required>
				</div>
				{#				<div class="form_group">#}
				{#					<input type="text" name="code_pwd" id="imagecode" class="code_pwd">#}
				{#					<div class="input_tip">图形验证码</div>#}
				{#					<img src="/static/images/pic_code.png" class="get_pic_code" onclick="generateImageCode()">#}
				{#					<div id="register-image-code-err" class="error_tip">图形码不能为空</div>#}
				{#				</div>#}
			</div>
			<div class="modal-footer">
				{#				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
				<button type="submit" class="btn btn-primary">注册</button>
			</div>
		</form>
	</div>

	</div>
{% endblock %}


{% block jsBlock %}
	<script src="/static/js/test.js"></script>
{% endblock %}